$black: #000000;
$dark: #10101d;
$darkText: #2a2b30;

$blueBorder: #286690;
$blueV1: #43abf0;
$blueV2: #3e9cdc;
$blueHover: #0088e2;

$orderBg: #272733;

$footerBg: #3d4050;
$grayBorder: #6f6d7b;
$descrText: #bbbbbb;
$dot: #c4c4c4;
$footerText: #c3c3c3;

$white: #ffffff;
$whiteHover: #e6eeff;
